/* ROUNDED THEME FOR ROFI */
/* Theme: Catppuccin Mocha */

* {
    bg0:    #1e1e2eF2;
    bg1:    #313244;
    bg2:    #45475aB0;
    bg3:    #89b4faF2;
    fg0:    #cdd6f4;
    fg1:    #f5e0dc;
    fg2:    #cdd6f4;
    fg3:    #585b70;
}

@import "template/rounded-template.rasi"

element selected {
    text-color: @bg1;
}
