/* ROUNDED THEME FOR ROFI */
/* Theme: Gruvbox Dark */

* {
    bg0:    #282828F2;
    bg1:    #3c3836;
    bg2:    #504945B0;
    bg3:    #d79921F2;
    fg0:    #ebdbb2;
    fg1:    #fbf1c7;
    fg2:    #ebdbb2;
    fg3:    #a89984;
}

@import "template/rounded-template.rasi"

element selected {
    text-color: @bg1;
}
