@import "colors/charcoal-dark.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "iosevka";
  font-weight: bold;
  font-size: 14px;
  padding: 0;
}

window#waybar {
  background: @bg;
  border: 2px solid @accent;
}

#clock,
#pulseaudio,
#network,
#tray,
#battery,
#custom-powermenu {
  margin: 8px 8px 8px 0px;
  padding: 2px 8px;
  color: @bg;
  /* #150f05 */
  background-color: @red;
  /* #bcab85 */
  border: 2px solid @text2;
  /* #4a3c25 */
}

#workspaces {
  margin: 8px 0px 8px 16px;
}

#workspaces button {
  all: initial;
  padding: 2px 8px 2px 0px;
  color: @text3;
  /* #695a40 */
}

#workspaces button.active {
  color: @fg;
  /* #150f05 */
}

#workspaces button.urgent,
#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: @text1;
  /* #2e2412 */
  border: 2px solid @text3;
  /* #695a40 */
  padding: 2px 8px;
  color: @bg2;
  /* #bcab85 */
}
